body{
    font-family: Arial;
    background-color: #f4f4f4;
    margin:40px;
}

.container{
    background:white;
    padding:20px;
    width:300px;
    border-radius:8px;
    box-shadow:0px 0px 10px gray;
}

label{
    font-weight:bold;
}

input{
    width:100%;
    padding:8px;
    margin-top:5px;
}