body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

.box1 {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid blue;
    margin: 20px;
    background-color: lightblue;
}

.box2 {
    width: 250px;
    height: 120px;
    padding: 30px;
    border: 10px solid green;
    margin: 40px;
    background-color: lightgreen;
}

.box3 {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid red;
    margin: 20px;
    background-color: lightcoral;
    box-sizing: border-box;
}  

.block {
    display: block;
    background-color: yellow;
    margin: 10px;
    padding: 10px;
}

.inline {
    display: inline;
    background-color: orange;
    padding: 5px;
}

.inline-block {
    display: inline-block;
    width: 200px;
    background-color: pink;
    margin: 10px;
    padding: 10px;
}

.none {
    display: none;
}

.visible-box {
    width: 200px;
    height: 50px;
    background-color: lightgreen;
    margin: 10px;
    text-align: center;
    line-height: 50px;
}

.hidden-box {
    width: 200px;
    height: 50px;
    background-color: gray;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    visibility: hidden;
}
